<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="What's my IP address ?">
    <title>What's my IP address ?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>What's my IP address ?</h1>
    <p id="ip">{{ ip }}</p>
    <div>
        Your internet provider is <p id="isp" class="location">{{ isp }}</p>
    </div>
    <div>
        You come from <p id="country" class="location">{{ country }}</p>
    </div>
    <footer>Powered by <a href="https://github.com/MATMAF" target="_blank">@MATMAF</a></footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
